.question__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .question__number-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;

    .question__number-button {
      padding: 1rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      border: none;
      outline: none;
      border-radius: 6px;
      background-color: var(--blue-color);
    }
  }

  .question__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .question__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
        width: 600px;
        background-color: var(--secondary-color);
        height: 350px;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        margin: 1rem;
        h4 {
            width: 100%;
            text-align: left;
            margin: 1rem 0;
        }
        // .question {
        //     // text-align: center;
        // }

        .options {
            width: 100%;

            li {
                list-style: none;
            }
        }

        button {

        }
    }
  }
}
